$wizard-circle-size: 24px;
$wizard-border-radius: 30px;

@mixin BreadcrumbsProgressBarLine {
  &::before {
    content: "";
    position: absolute;
    display: block;
    border: none;
    z-index: -1;
    top: 8px;
    width: 100%;
    height: 8px;
    left: calc(-50% + 12px);
    margin-left: 0;
    background: var(--breadcrumb-item-bg-expanded);
  }

  &::after {
    border: none;
  }
}

@mixin BreadcrumbsProgressBarLine_Visited {
  &::after {
    content: "";
    position: absolute;
    display: block;
    border: none;
    z-index: -1;
    top: 10px;
    width: 100%;
    height: 4px;
    left: calc(-50% + 12px);
    margin-left: 0;
    background: var(--breadcrumb-item-bg-active-expanded);
  }
}

@mixin BreadcrumbsProgressBarLine_Vertical {
  &::before {
    width: 8px;
    height: 100%;
    left: 8px;
  }
}

@mixin BreadcrumbsProgressBarLine_Visited_Vertical {
  &::after {
    width: 4px;
    height: 100%;
    left: 10px;
  }
}