#mxgit-marker-start
*.launch
*.mda
*.orig
*.svn
.classpath
.gradle/
.mendix-cache
.project
.settings
.svn
.vscode
/bin/

*.mpr.bak
*.mpr.left*
*.mpr.lock
*.mpr.right*
/build/
/deployment/
/project-settings.user.json
/userlib/
/theme-cache/

/javasource/*/proxies/
/javasource/system/
/resources/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/adobesignconnector.mpr.bak
/adobesignconnector.mpr.lock
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/*.launch
/adobesigncommons.mpr.bak
/adobesigncommons.mpr.lock
/modeler-merge-marker
