@mixin ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin small-text {
  font-size: var(--disw-g-font-size-xs);
  line-height: var(--disw-g-line-height-xs);
}

@mixin IX-icon($content) {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-family: "Siemens_UI_Module$iX_Icons";

  &:before {
    content: $content;
  }
}
