/* ==========================================================================
  Basic loading indicator
========================================================================== */

$indicatorSizes: (
  xxs: 16px,
  xs: 24px,
  sm: 32px,
  md: 48px,
  lg: 64px,
  xl: 80px,
  xxl: 96px,
);

@keyframes basic-content {
  0% {
    content: " .";
  }
  33% {
    content: " ..";
  }
  66% {
    content: " ...";
  }
  100% {
    content: " .";
  }
}

/* ==========================================================================
  Circular loading indicator
========================================================================== */

@mixin createSpinner {
  width: 100%;
  height: 100%;
  position: absolute;
}

@mixin createSpinnerAnimation {
  --circular-fill-degrees: 90deg;
  --rad-outer: calc(100% * 0.7);
  --rad-inner: calc(var(--rad-outer) - 2px);
  animation: 1.1s linear 0s infinite normal none running circular-rotate;
}

@mixin circularLoadingIndicatorSize($size) {
  width: $size;
  height: $size;
}

@keyframes circular-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ==========================================================================
  Linear Progress indicator
========================================================================== */

@mixin createLinearLoadingAnimation {
  display: block;
  position: relative;
  animation: 2s cubic-bezier(0.1, 0.85, 0.9, 0.15) 0s infinite normal none
      running linear-bounce,
    2s ease-in-out 0s infinite alternate none running linear-bounce-opacity;
  width: 10% !important; // Need to overwrite the inline styling of component.
}

@keyframes linear-bounce {
  0% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}

@keyframes linear-bounce-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@mixin linearLoadingIndicatorSize($size, $line-height, $radius) {
  .progress {
    height: $size;
    border-radius: $radius;
  }
  .progress-bar {
    position: relative;
    height: $size;
    line-height: $line-height;
    border-radius: $radius;
  }
}

@mixin updateErrorIconStyles {
  font-size: var(--disw-g-font-size-base);
  top: initial;
  margin-top: -6px;
  right: -20px;
}

