@font-face {
    font-family: "Siemens Sans";
    src: url("SiemensSans_Prof_Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Siemens Sans";
    src: url("SiemensSans_Prof_BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Siemens Sans";
    src: url("SiemensSans_Prof_Italic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Siemens Sans";
    src: url("SiemensSans_Prof_Roman.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}