//== Core style exclusion
$exclude-bootstrap: false;
$exclude-mxui: false;
$exclude-animations: false;
$exclude-flex: false;
$exclude-spacing: false;
$exclude-base: false;
$exclude-login: false;

//== Widget style exclusion
$exclude-accordion: false;
$exclude-accordion-helpers: false;
$exclude-background-helpers: false;
$exclude-badge: false;
$exclude-badge-button: false;
$exclude-badge-button-helpers: false;
$exclude-barcode-scanner: false;
$exclude-button: false;
$exclude-button-helpers: false;
$exclude-check-box: false;
$exclude-custom-dijit-widget: false;
$exclude-custom-switch: false;
$exclude-data-grid: false;
$exclude-data-grid-helpers: false;
$exclude-data-view: false;
$exclude-data-picker: false;
$exclude-gallery: false;
$exclude-gallery-helpers: false;
$exclude-glyphicon: false;
$exclude-grid: false;
$exclude-group-box: false;
$exclude-group-box-helpers: false;
$exclude-header: false;
$exclude-helper-classes: false;
$exclude-input: false;
$exclude-image-helpers: false;
$exclude-label: false;
$exclude-label-helpers: true;
$exclude-layout-grid: false;
$exclude-list-view: false;
$exclude-list-view-helpers: false;
$exclude-modal: false;
$exclude-navigation-bar: true;
$exclude-navigation-bar-helpers: true;
$exclude-navigation-list: false;
$exclude-navigation-tree: false;
$exclude-navigation-tree-helpers: false;
$exclude-pagination: false;
$exclude-pop-up-menu: false;
$exclude-progress: false;
$exclude-progress-bar: false;
$exclude-progress-bar-helpers: false;
$exclude-progress-circle: false;
$exclude-progress-circle-helpers: false;
$exclude-radio-button: true;
$exclude-range-slider: false;
$exclude-range-slider-helpers: false;
$exclude-rating: false;
$exclude-rating-helpers: false;
$exclude-scroll-container: false;
$exclude-simple-menu-bar: false;
$exclude-simple-menu-bar-helpers: false;
$exclude-slider: false;
$exclude-slider-helpers: false;
$exclude-table: false;
$exclude-table-helpers: false;
$exclude-tab-container: false;
$exclude-tab-container-helpers: false;
$exclude-template-grid: false;
$exclude-template-grid-helpers: false;
$exclude-timeline: false;
$exclude-tree-node: false;
$exclude-tree-node-helpers: false;
$exclude-typography: false;
$exclude-typography-helpers: false;
$exclude-check-box: true;

// form inputs
$form-input-bg: true;
$form-input-bg-focus: true;
$form-input-bg-hover: true;
$form-input-bg-disabled: true;
$form-input-color: true;
$form-input-focus-color: true;
$form-input-disabled-color: true;
$form-input-placeholder-color: true;
$form-input-border-color: true;

//== Layouts style exclusion
$exclude-layout-atlas: false;
$exclude-layout-atlas-phone: false;
$exclude-layout-atlas-responsive: false;
$exclude-layout-atlas-tablet: false;

$exclude-custom-switch: true;
