$disw-g-color-black: #000000;

$disw-g-color-alpha-black-0: rgba(0, 0, 0, 0); // #0000004d
$disw-g-color-alpha-black-15: rgba(0, 0, 0, 0.15); // #0000004d
$disw-g-color-alpha-black-30: rgba(0, 0, 0, 0.3); // #0000004d
$disw-g-color-alpha-black-60: rgba(0, 0, 0, 0.6); // #00000099
$disw-g-color-alpha-black-75: rgba(0, 0, 0, 0.75); // #00000099
