$disw-g-color-bold-green-100: #ccfff1;
$disw-g-color-bold-green-200: #99ffe3;
$disw-g-color-bold-green-300: #66ffd5;
$disw-g-color-bold-green-400: #00ffb9;
$disw-g-color-bold-green-500: #00e5aa;
$disw-g-color-bold-green-650: #00a686;
$disw-g-color-bold-green-700: #00997f;
$disw-g-color-bold-green-800: #007369;
$disw-g-color-bold-green-940: #001f39;
$disw-g-color-bold-green-960: #00182b;

$disw-g-color-alpha-bold-green-200-25: rgba(153, 255, 227, 0.25); // #99ffe340
$disw-g-color-alpha-bold-green-300-20: rgba(102, 255, 213, 0.2); // #66ffd533
$disw-g-color-alpha-bold-green-300-25: rgba(102, 255, 213, 0.25); // #66ffd540
$disw-g-color-alpha-bold-green-300-60: rgba(102, 255, 213, 0.6); // #66ffd599
$disw-g-color-alpha-bold-green-300-75: rgba(102, 255, 213, 0.75); // #66ffd5bf
$disw-g-color-alpha-bold-green-400-10: rgba(0, 255, 185, 0.1); // #00ffb91a
$disw-g-color-alpha-bold-green-400-12: rgba(0, 255, 185, 0.12); // #00ffb91f
$disw-g-color-alpha-bold-green-400-15: rgba(0, 255, 185, 0.15); // #00ffb926
$disw-g-color-alpha-bold-green-400-18: rgba(0, 255, 185, 0.18); // #00ffb92e
$disw-g-color-alpha-bold-green-400-20: rgba(0, 255, 185, 0.2); // #00ffb933
$disw-g-color-alpha-bold-green-400-25: rgba(0, 255, 185, 0.25); // #00ffb940
$disw-g-color-alpha-bold-green-400-30: rgba(0, 255, 185, 0.3); // #00ffb94d
$disw-g-color-alpha-bold-green-400-40: rgba(0, 255, 185, 0.4); // #00ffb966
$disw-g-color-alpha-bold-green-400-75: rgba(0, 255, 185, 0.75); // #00ffb9bf
$disw-g-color-alpha-bold-green-500-20: rgba(0, 229, 170, 0.2); // #00e5aa33
$disw-g-color-alpha-bold-green-500-25: rgba(0, 229, 170, 0.25); // #66ffd540
$disw-g-color-alpha-bold-green-500-75: rgba(0, 229, 170, 0.75); // #00e5aabf
