$disw-g-color-cold-green-100: #c5ffef;
$disw-g-color-cold-green-200: #7bfdc7;
$disw-g-color-cold-green-300: #00d7a0;
$disw-g-color-cold-green-500: #00af8e;
$disw-g-color-cold-green-700: #008052;

$disw-g-color-alpha-cold-green-300-30: rgba(0, 215, 160, 0.3); // #00d7a04d
$disw-g-color-alpha-cold-green-500-20: rgba(0, 175, 142, 0.2); // #00af8e33
$disw-g-color-alpha-cold-green-500-30: rgba(0, 175, 142, 0.3); // #00af8e4d
$disw-g-color-alpha-cold-green-700-15: rgba(0, 128, 82, 0.15); // #00805226
$disw-g-color-alpha-cold-green-700-30: rgba(0, 128, 82, 0.3); // #0080524d
