$disw-g-color-cool-gray-25: #f9f9f7;
$disw-g-color-cool-gray-50: #ebebee;
$disw-g-color-cool-gray-100: #e5e5e9;
$disw-g-color-cool-gray-150: #dedee3;
$disw-g-color-cool-gray-200: #ccccd4;
$disw-g-color-cool-gray-250: #a0a0af;
$disw-g-color-cool-gray-300: #b3b3be;
$disw-g-color-cool-gray-400: #9999a9;
$disw-g-color-cool-gray-480: #8d8da0;
$disw-g-color-cool-gray-500: #7d8099;
$disw-g-color-cool-gray-520: #7c8099;
$disw-g-color-cool-gray-560: #737389;
$disw-g-color-cool-gray-580: #66667e;
$disw-g-color-cool-gray-600: #656680;
$disw-g-color-cool-gray-650: #575770;
$disw-g-color-cool-gray-700: #4c4c68;
$disw-g-color-cool-gray-710: #464660;
$disw-g-color-cool-gray-720: #404057;
$disw-g-color-cool-gray-730: #3c3c52;
$disw-g-color-cool-gray-750: #37374d;
$disw-g-color-cool-gray-800: #333353;
$disw-g-color-cool-gray-850: #2d2d45;
$disw-g-color-cool-gray-900: #262648;
$disw-g-color-cool-gray-950: #23233c;
$disw-g-color-cool-gray-970: #121232;
$disw-g-color-cool-gray-980: #101031;

$disw-g-color-alpha-cool-gray-50-40: rgba(235, 235, 238, 0.4); // #ebebee66
$disw-g-color-alpha-cool-gray-500-40: rgba(125, 128, 153, 0.4); // #7d809966
$disw-g-color-alpha-cool-gray-580-10: rgba(102, 102, 126, 0.1); // #66667e1a
$disw-g-color-alpha-cool-gray-580-25: rgba(102, 102, 126, 0.25); // #66667e40
$disw-g-color-alpha-cool-gray-580-40: rgba(102, 102, 126, 0.4); // #66667e66
$disw-g-color-alpha-cool-gray-650-20: rgba(86, 86, 103, 0.2); // #56566733
$disw-g-color-alpha-cool-gray-700-40: rgba(76, 76, 104, 0.4); // #4c4c6866
$disw-g-color-alpha-cool-gray-720-85: rgba(64, 64, 87, 0.85); // #404057d9
$disw-g-color-alpha-cool-gray-750-30: rgba(55, 55, 77, 0.3); // #37374dd9
$disw-g-color-alpha-cool-gray-750-85: rgba(55, 55, 77, 0.85); // #37374dd9
$disw-g-color-alpha-cool-gray-950-15: rgba(35, 35, 60, 0.15); // #23233c26
$disw-g-color-alpha-cool-gray-950-85: rgba(35, 35, 60, 0.85); // #23233cd9
