$disw-g-color-coral-100: #ccf5f5;
$disw-g-color-coral-200: #66e0e0;
$disw-g-color-coral-380: #00e2e2;
$disw-g-color-coral-400: #00cccc;
$disw-g-color-coral-420: #00c2c7;
$disw-g-color-coral-500: #00a3ab;
$disw-g-color-coral-680: #007993;
$disw-g-color-coral-700: #007082;
$disw-g-color-coral-720: #006b82;
$disw-g-color-coral-940: #00183b;

$disw-g-color-alpha-coral-100-40: rgba(204, 245, 245, 0.4); // #ccf5f566
$disw-g-color-alpha-coral-400-10: rgba(0, 204, 204, 0.1); // #00cccc1a
$disw-g-color-alpha-coral-400-25: rgba(0, 204, 204, 0.25); // #00cccc1a
$disw-g-color-alpha-coral-400-40: rgba(0, 204, 204, 0.4); // #00cccc73
$disw-g-color-alpha-coral-400-45: rgba(0, 204, 204, 0.45); // #00cccc73
$disw-g-color-alpha-coral-680-10: rgba(0, 121, 147, 0.1); // #0079931a
$disw-g-color-alpha-coral-680-25: rgba(0, 121, 147, 0.25); // #00799340
$disw-g-color-alpha-coral-680-30: rgba(0, 121, 147, 0.3); // #0079934d
$disw-g-color-alpha-coral-680-40: rgba(0, 121, 147, 0.4); // #00799366
