$disw-g-color-deep-blue: #000028;

$disw-g-color-alpha-deep-blue-0: rgba(0, 0, 40, 0); // #00002800
$disw-g-color-alpha-deep-blue-3: rgba(0, 0, 40, 0.03); // #00002808
$disw-g-color-alpha-deep-blue-5: rgba(0, 0, 40, 0.05); // #0000280d
$disw-g-color-alpha-deep-blue-10: rgba(0, 0, 40, 0.1); // #0000281a
$disw-g-color-alpha-deep-blue-15: rgba(0, 0, 40, 0.15); // #00002826
$disw-g-color-alpha-deep-blue-20: rgba(0, 0, 40, 0.2); // #00002833
$disw-g-color-alpha-deep-blue-30: rgba(0, 0, 40, 0.3); // #0000284d
$disw-g-color-alpha-deep-blue-45: rgba(0, 0, 40, 0.45); // #00002873
$disw-g-color-alpha-deep-blue-50: rgba(0, 0, 40, 0.5); // #00002880
$disw-g-color-alpha-deep-blue-60: rgba(0, 0, 40, 0.6); // #00000099
$disw-g-color-alpha-deep-blue-65: rgba(0, 0, 40, 0.65); // #000028a6
$disw-g-color-alpha-deep-blue-70: rgba(0, 0, 40, 0.7); // #000028b3
$disw-g-color-alpha-deep-blue-75: rgba(0, 0, 40, 0.75); // #000028bf
$disw-g-color-alpha-deep-blue-85: rgba(0, 0, 40, 0.85); // #000028d9
