$disw-g-color-gray-100: #e6e6e5;
$disw-g-color-gray-200: #cdcdcb;
$disw-g-color-gray-280: #b9b9b6;
$disw-g-color-gray-300: #b4b4b1;
$disw-g-color-gray-350: #a8a8a4;
$disw-g-color-gray-400: #9b9b97;
$disw-g-color-gray-500: #82827d;
$disw-g-color-gray-600: #686864;
$disw-g-color-gray-700: #4e4e4b;
$disw-g-color-gray-800: #343432;
$disw-g-color-gray-900: #1a1a19;

$disw-g-color-alpha-gray-280-10: rgba(185, 185, 182, 0.1); // #b9b9b61a
$disw-g-color-alpha-gray-280-25: rgba(185, 185, 182, 0.25); // #b9b9b640
$disw-g-color-alpha-gray-280-40: rgba(185, 185, 182, 0.4); // #b9b9b666
