$disw-g-color-green-100: #ccf7de;
$disw-g-color-green-200: #80ebac;
$disw-g-color-green-300: #41e183;
$disw-g-color-green-400: #01d65a;
$disw-g-color-green-450: #01bd41;
$disw-g-color-green-500: #00a327;
$disw-g-color-green-600: #00961b;
$disw-g-color-green-680: #01893a;
$disw-g-color-green-690: #018136;
$disw-g-color-green-700: #00890e;
$disw-g-color-green-750: #007d0b;
$disw-g-color-green-800: #007007;
$disw-g-color-green-850: #006404;
$disw-g-color-green-900: #005700;

$disw-g-color-alpha-green-400-10: rgba(1, 214, 90, 0.1); // #01d65a1a
$disw-g-color-alpha-green-400-20: rgba(1, 214, 90, 0.2); // #01d65a33
$disw-g-color-alpha-green-400-25: rgba(1, 214, 90, 0.25); // #01d65a40
$disw-g-color-alpha-green-400-30: rgba(1, 214, 90, 0.3); // #01d65a4d
$disw-g-color-alpha-green-400-40: rgba(1, 214, 90, 0.4); // #01d65a66
$disw-g-color-alpha-green-500-20: rgba(0, 163, 39, 0.2); // #00a32733
$disw-g-color-alpha-green-680-10: rgba(1, 137, 58, 0.1); // #01893a1a
$disw-g-color-alpha-green-680-25: rgba(1, 137, 58, 0.25); // #01893a40
$disw-g-color-alpha-green-680-30: rgba(1, 137, 58, 0.3); // #01893a4d
$disw-g-color-alpha-green-680-40: rgba(1, 137, 58, 0.4); // #01893a66
