$disw-g-color-deep-blue-red-10: #1a042a;
$disw-g-color-deep-blue-orange-10: #1a0e24;
$disw-g-color-deep-blue-yellow-10: #1a1629;
$disw-g-color-deep-blue-gray-10: #131336;
$disw-g-color-deep-blue-blue-10: #00133a;
$disw-g-color-deep-blue-green-10: #00152d;
$disw-g-color-white-red-10: #fbe9eb;
$disw-g-color-white-orange-10: #f8eee9;
$disw-g-color-white-yellow-10: #f3f0e5;
$disw-g-color-white-gray-10: #f0f0f2;
$disw-g-color-white-blue-10: #e5f2f7;
$disw-g-color-white-green-10: #e6f3eb;
$disw-g-color-white-red-25: #f5c8cd;
$disw-g-color-white-orange-25: #efd5c8;
$disw-g-color-white-yellow-25: #e1dabf;
$disw-g-color-white-gray-25: #d9d9df;
$disw-g-color-white-blue-25: #bfdfeb;
$disw-g-color-white-green-25: #bfe5c6;
$disw-g-color-white-bold-green-10: #e5fff8;
$disw-g-color-white-bold-green-25: #bfffed;
$disw-g-color-deep-blue-red-25: #400a2e;
$disw-g-color-deep-blue-orange-25: #40241e;
$disw-g-color-deep-blue-yellow-25: #40362b;
$disw-g-color-deep-blue-gray-25: #2e2e4c;
$disw-g-color-deep-blue-blue-25: #003055;
$disw-g-color-deep-blue-green-25: #003635;
$disw-g-color-deep-blue-bold-green-10: #001a37;
$disw-g-color-deep-blue-bold-green-25: #00404c;
$disw-g-color-white-coral-20: #ccf5f5;
$disw-g-color-white-bold-green-30: #b2ffea;
$disw-g-color-white-bold-green-40: #99ffe3;
$disw-g-color-deep-blue-coral-20: #002949;
$disw-g-color-deep-blue-bold-green-30: #004d54;
$disw-g-color-deep-blue-bold-green-40: #006662;
$disw-g-color-deep-blue-coral-25: #003351;
$disw-g-color-deep-blue-coral-10: #001438;
$disw-g-color-white-turquoise-25: #bff2f2;
$disw-g-color-white-turquoise-10: #e5fafa;
$disw-g-color-white-coral-25: #bfdde4;
$disw-g-color-white-coral-10: #e5f2f4;
$disw-g-color-deep-blue-turquoise-72: #135465;
$disw-g-color-white-bold-green-18: #d1fff2;
$disw-g-color-deep-blue-bold-green-18: #002e42;
