$disw-g-color-orange-100: #ffdeb2;
$disw-g-color-orange-200: #ffbc66;
$disw-g-color-orange-300: #ffa633;
$disw-g-color-orange-400: #ff9000;
$disw-g-color-orange-500: #e57700;
$disw-g-color-orange-600: #e96401;
$disw-g-color-orange-625: #d85c01;
$disw-g-color-orange-650: #c75300;
$disw-g-color-orange-700: #be5925;
$disw-g-color-orange-750: #af471c;
$disw-g-color-orange-800: #9f3513;
$disw-g-color-orange-900: #801100;

$disw-g-color-alpha-orange-100-40: rgba(255, 222, 178, 0.4); // #ffdeb266
$disw-g-color-alpha-orange-200-40: rgba(255 188 102 0.4); // #ffbc6666
$disw-g-color-alpha-orange-400-10: rgba(255, 144, 0, 0.1); // #ff90001a
$disw-g-color-alpha-orange-400-25: rgba(255, 144, 0, 0.25); // #ff900040
$disw-g-color-alpha-orange-400-40: rgba(255, 144, 0, 0.4); // #ff900066
$disw-g-color-alpha-orange-700-10: rgba(190, 89, 37, 0.1); // #be59251a
$disw-g-color-alpha-orange-700-25: rgba(190, 89, 37, 0.25); // #be592540
$disw-g-color-alpha-orange-700-40: rgba(190, 89, 37, 0.4); // #be592566
$disw-g-color-alpha-orange-900-40: rgba(128, 17, 0, 0.4); // #80110066

$disw-g-color-pale-orange-750: #4b433a;
