$disw-g-color-orchid-100: #edd6f2;
$disw-g-color-orchid-200: #d399dd;
$disw-g-color-orchid-400: #b95cc9;
$disw-g-color-orchid-500: #a733bc;
$disw-g-color-orchid-700: #740089;
$disw-g-color-orchid-900: #52245c;

$disw-g-color-alpha-orchid-400-40: rgba(185, 92, 201, 0.4); // #b95cc966
$disw-g-color-alpha-orchid-700-40: rgba(116, 0, 137, 0.4); // #74008966
