$disw-g-color-petrol-750: #009999;

$disw-g-color-alpha-petrol-40: rgba(0, 153, 153, 0.4); // #00999966;

$disw-g-color-light-petrol-750: #00c1b6;

$disw-g-color-alpha-light-petrol-40: rgb(0, 193, 182); // #00c1b6
