$disw-g-color-plum-100: #ffbeda;
$disw-g-color-plum-200: #ff98c4;
$disw-g-color-plum-400: #e5659b;
$disw-g-color-plum-500: #c04774;
$disw-g-color-plum-700: #9f1853;
$disw-g-color-plum-900: #4f153d;

$disw-g-color-alpha-plum-200-40: rgba(255, 152, 196, 0.4); // #ff98c466
$disw-g-color-alpha-plum-400-40: rgba(229, 101, 155, 0.4); // #e5659b66
$disw-g-color-alpha-plum-500-40: rgba(192, 71, 116, 0.4); //#c0477466
$disw-g-color-alpha-plum-900-40: rgba(79, 21, 61, 0.4); // #4f153d66
