$disw-g-color-purple-100: #d2cbff;
$disw-g-color-purple-200: #bfb0f3;
$disw-g-color-purple-300: #b4a8ff;
$disw-g-color-purple-400: #a68dff;
$disw-g-color-purple-500: #805cff;
$disw-g-color-purple-700: #7353e5;
$disw-g-color-purple-900: #553ba3;

$disw-g-color-alpha-purple-200-40: rgba(191, 176, 243, 0.4); // #bfb0f366
$disw-g-color-alpha-purple-500-40: rgba(128, 92, 255, 0.4); // #805cff66
$disw-g-color-alpha-purple-700-40: rgba(115, 83, 229, 0.4); // #7353e566
$disw-g-color-alpha-purple-900-40: rgba(85, 59, 163, 0.4); // #553ba366
