$disw-g-color-red-70: #e9d7dc;
$disw-g-color-red-100: #fcccd7;
$disw-g-color-red-200: #ffa8b3;
$disw-g-color-red-300: #ff7687;
$disw-g-color-red-400: #ff6779;
$disw-g-color-red-450: #ff4e64;
$disw-g-color-red-500: #ff2640;
$disw-g-color-red-600: #eb253d;
$disw-g-color-red-700: #d72339;
$disw-g-color-red-750: #c72135;
$disw-g-color-red-800: #b81e31;
$disw-g-color-red-900: #990000;

$disw-g-color-alpha-red-500-10: rgba(255, 38, 64, 0.1); // #ff26401a
$disw-g-color-alpha-red-500-25: rgba(255, 38, 64, 0.25); // #ff264040
$disw-g-color-alpha-red-500-40: rgba(255, 38, 64, 0.4); // #ff264066
$disw-g-color-alpha-red-700-10: rgba(215, 35, 57, 0.1); // #d723391a
$disw-g-color-alpha-red-700-25: rgba(215, 35, 57, 0.25); // #d7233940
$disw-g-color-alpha-red-700-40: rgba(215, 35, 57, 0.4); // #d7233966
$disw-g-color-alpha-red-800-10: rgba(184, 30, 49, 0.1); // #b81e311a
$disw-g-color-alpha-red-800-33: rgba(184, 30, 49, 0.33); // #b81e3154
