$disw-g-color-royal-blue-50: #d0e9fb;
$disw-g-color-royal-blue-100: #b2e0ff;
$disw-g-color-royal-blue-200: #97c7ff;
$disw-g-color-royal-blue-400: #6895f6;
$disw-g-color-royal-blue-500: #3664c6;
$disw-g-color-royal-blue-700: #00237a;
$disw-g-color-royal-blue-900: #00004a;
$disw-g-color-royal-blue-960: #001034;

$disw-g-color-alpha-royal-blue-200-40: rgba(151, 199, 255, 0.4); // #97c7ff66
$disw-g-color-alpha-royal-blue-400-40: rgba(104, 149, 246, 0.4); // #6895f666
$disw-g-color-alpha-royal-blue-500-40: rgba(0, 35, 122, 0.4); // #00237a66
$disw-g-color-alpha-royal-blue-700-40: rgba(0, 35, 122, 0.4); // #00237a66
$disw-g-color-alpha-royal-blue-900-40: rgba(0, 0, 74, 0.4); // #00004a66
