$disw-g-color-sand-50: #f3f3f0;
$disw-g-color-sand-100: #efefec;
$disw-g-color-sand-150: #e8e8e3;
$disw-g-color-sand-170: #e3e3de;
$disw-g-color-sand-200: #dfdfd9;
$disw-g-color-sand-250: #dbdbd5;
$disw-g-color-sand-300: #d7d7d0;
$disw-g-color-sand-350: #cecec8;
$disw-g-color-sand-370: #c8c8c2;
$disw-g-color-sand-400: #c5c5b8;
$disw-g-color-sand-450: #bdbdae;
$disw-g-color-sand-500: #aaaa96;
$disw-g-color-sand-600: #9d9d96;
$disw-g-color-sand-640: #96968a;
$disw-g-color-sand-660: #8f8f75;
$disw-g-color-sand-700: #757563;
$disw-g-color-sand-780: #696963;
$disw-g-color-sand-900: #5e5e4a;

$disw-g-color-alpha-sand-50-85: rgba(243, 243, 240, 0.85); // #f3f3f0d9
$disw-g-color-alpha-sand-150-15: rgba(232, 232, 227, 0.15); // #e8e8e326
$disw-g-color-alpha-sand-150-40: rgba(232, 232, 227, 0.4); // #e8e8e366
$disw-g-color-alpha-sand-150-50: rgba(232, 232, 227, 0.5); // #e8e8e380
$disw-g-color-alpha-sand-150-85: rgba(232, 232, 227, 0.85); // #e8e8e3d9
$disw-g-color-alpha-sand-200-85: rgba(223, 223, 217, 0.85); // #dfdfd9d9
$disw-g-color-alpha-sand-300-20: rgba(215, 215, 208, 0.2); // #d7d7d033
$disw-g-color-alpha-sand-450-15: rgba(189, 189, 174, 0.15); // #bdbdae26
$disw-g-color-alpha-sand-450-20: rgba(189, 189, 174, 0.2); // #bdbdae33
$disw-g-color-alpha-sand-450-35: rgba(189, 189, 174, 0.35); // #bdbdae59
$disw-g-color-alpha-sand-500-20: rgba(170, 170, 150, 0.2); // #aaaa9633
$disw-g-color-alpha-sand-600-15: rgba(157, 157, 150, 0.15); // #9d9d9626
$disw-g-color-alpha-sand-600-20: rgba(157, 157, 150, 0.2); // #9d9d9633
$disw-g-color-alpha-sand-600-35: rgba(157, 157, 150, 0.35); // #9d9d9659
$disw-g-color-alpha-sand-640-35: rgba(150, 150, 138, 0.35); // #96968a59
$disw-g-color-alpha-sand-660-15: rgba(143, 143, 117, 0.15); // #8f8f7526
$disw-g-color-alpha-sand-660-20: rgba(143, 143, 117, 0.2); // #8f8f7533
$disw-g-color-alpha-sand-680-20: rgba(125, 125, 120, 0.2); // #7d7d7833
$disw-g-color-alpha-sand-680-28: rgba(125, 125, 120, 0.28); // #7d7d7847
$disw-g-color-alpha-sand-680-35: rgba(125, 125, 120, 0.35); // #7d7d7859
$disw-g-color-alpha-sand-780-15: rgba(105, 105, 99, 0.15); // #69696326
$disw-g-color-alpha-sand-900-40: rgba(94, 94, 74, 0.4); // #5e5e4a66
