$disw-g-color-turquoise-30: #d1fff2;
$disw-g-color-turquoise-50: #b8f2e2;
$disw-g-color-turquoise-100: #85e9d2;
$disw-g-color-turquoise-200: #47e2bb;
$disw-g-color-turquoise-400: #00d7a0;
$disw-g-color-turquoise-500: #0da58e;
$disw-g-color-turquoise-700: #1a747d;
$disw-g-color-turquoise-780: #296d74;
$disw-g-color-turquoise-820: #196269;
$disw-g-color-turquoise-850: #0b6165;
$disw-g-color-turquoise-860: #005d66;
$disw-g-color-turquoise-870: #16565c;
$disw-g-color-turquoise-890: #134a4f;
$disw-g-color-turquoise-900: #005159;
$disw-g-color-turquoise-920: #00464d;
$disw-g-color-turquoise-950: #00383d;

$disw-g-color-alpha-turquoise-100-40: rgba(133, 233, 210, 0.4); // #85e9d266
$disw-g-color-alpha-turquoise-700-40: rgba(26, 116, 125, 0.4); // #1a747d66
$disw-g-color-alpha-turquoise-850-30: rgba(11, 97, 101, 0.3); // #0b61654d
$disw-g-color-alpha-turquoise-860-75: rgba(0, 93, 102, 0.75); // #005d66bf
$disw-g-color-alpha-turquoise-900-10: rgba(0, 81, 89, 0.1); // #0051591a
$disw-g-color-alpha-turquoise-900-15: rgba(0, 81, 89, 0.15); // #00515926
$disw-g-color-alpha-turquoise-900-25: rgba(0, 81, 89, 0.25); // #00515940
$disw-g-color-alpha-turquoise-900-40: rgba(0, 81, 89, 0.4); // #00515966
$disw-g-color-alpha-turquoise-900-75: rgba(0, 81, 89, 0.75); // #005159bf
$disw-g-color-alpha-turquoise-920-75: rgba(0, 70, 77, 0.75); // #00464dbf
$disw-g-color-alpha-turquoise-950-75: rgba(0, 56, 61, 0.75); // #00383dbf
