$disw-g-color-white: #ffffff;

$disw-g-color-alpha-white-0: rgba(255, 255, 255, 0); // #ffffff00
$disw-g-color-alpha-white-5: rgba(255, 255, 255, 0.05); // #ffffff00
$disw-g-color-alpha-white-10: rgba(255, 255, 255, 0.1); // #ffffff1a
$disw-g-color-alpha-white-15: rgba(255, 255, 255, 0.15); // #ffffff26
$disw-g-color-alpha-white-20: rgba(255, 255, 255, 0.2); // #ffffff33
$disw-g-color-alpha-white-30: rgba(255, 255, 255, 0.3); // #ffffff4d
$disw-g-color-alpha-white-45: rgba(255, 255, 255, 0.45); // #ffffff73
$disw-g-color-alpha-white-50: rgba(255, 255, 255, 0.5); // #ffffff80
$disw-g-color-alpha-white-60: rgba(255, 255, 255, 0.6); // #ffffff99
$disw-g-color-alpha-white-70: rgba(255, 255, 255, 0.7); // #ffffffb3
$disw-g-color-alpha-white-75: rgba(255, 255, 255, 0.75); // #ffffffbf
$disw-g-color-alpha-white-85: rgba(255, 255, 255, 0.85); // #ffffffd9
