$disw-g-color-yellow-100: #fff7d6;
$disw-g-color-yellow-200: #ffe784;
$disw-g-color-yellow-250: #ffe370;
$disw-g-color-yellow-300: #ffdf5b;
$disw-g-color-yellow-400: #ffd732;
$disw-g-color-yellow-450: #e9c32a;
$disw-g-color-yellow-500: #e5bd19;
$disw-g-color-yellow-550: #d8b013;
$disw-g-color-yellow-600: #cba30d;
$disw-g-color-yellow-700: #b28a00;
$disw-g-color-yellow-800: #8f6f00;
$disw-g-color-yellow-820: #866b00;
$disw-g-color-yellow-900: #805800;
$disw-g-color-yellow-950: #705400;
$disw-g-color-yellow-970: #665200;

$disw-g-color-alpha-yellow-400-10: rgba(255, 215, 50, 0.1); // #ffd7321a
$disw-g-color-alpha-yellow-400-20: rgba(255, 215, 50, 0.2); // #ffd73233
$disw-g-color-alpha-yellow-400-30: rgba(255, 215, 50, 0.3); // #ffd7324d
$disw-g-color-alpha-yellow-400-35: rgba(255, 215, 50, 0.35); // #ffd73259
$disw-g-color-alpha-yellow-820-10: rgba(134, 107, 0, 0.1); // #866b001a
$disw-g-color-alpha-yellow-820-25: rgba(134, 107, 0, 0.25); // #866b0040
$disw-g-color-alpha-yellow-820-30: rgba(134, 107, 0, 0.3); // #866b004d
$disw-g-color-alpha-yellow-820-40: rgba(134, 107, 0, 0.4); // #866b0066
$disw-g-color-alpha-yellow-900-40: rgba(128, 88, 0, 0.4); // #80580066
