$disw-g-color-blue-50: #ebf7f8;
$disw-g-color-blue-100: #ccf2f8;
$disw-g-color-blue-200: #80dfed;
$disw-g-color-blue-400: #4dd1e7;
$disw-g-color-blue-500: #00bedc;
$disw-g-color-blue-600: #00a3cd;
$disw-g-color-blue-700: #0087be;
$disw-g-color-blue-750: #007eb1;
$disw-g-color-blue-800: #006e9d;
$disw-g-color-blue-850: #00628c;
$disw-g-color-blue-900: #00557c;
