@use "../buttons/mixins" as *;

.Toastify__toast {
  --toastify-toast-border-color: var(--toastify-primary-border-color);
  --toastify-color-light: var(--toastify-primary-color-light);
  --toastify-title-color-light: var(--toastify-primary-title-color);

  &.error {
    --toastify-toast-border-color: var(--toastify-error-border-color);
    --toastify-color-light: var(--toastify-error-color-light);
    --toastify-title-color-light: var(--toastify-error-title-color);
  }

  &.warning {
    --toastify-toast-border-color: var(--toastify-warning-border-color);
    --toastify-color-light: var(--toastify-warning-color-light);
    --toastify-title-color-light: var(--toastify-warning-title-color);
  }

  &.success {
    --toastify-toast-border-color: var(--toastify-success-border-color);
    --toastify-color-light: var(--toastify-success-color-light);
    --toastify-title-color-light: var(--toastify-success-title-color);
  }

  border-left: 4px solid var(--toastify-toast-border-color);

  .mx-image-viewer {
    width: auto;
    flex-grow: 0;
  }

  h3 {
    color: var(--toastify-title-color-light);
  }

  .subtitle {
    font-style: italic;
  }

  .top-content {
    display: flex;
    gap: var(--disw-g-spacing-md);
    align-items: center;

    .title-section {
      flex-shrink: 0;
    }
  }

  .Toastify__close-button {
    color: var(--toastify-text-color-light);
    opacity: 1;
    top: var(--disw-g-spacing-xl);
    right: var(--disw-g-spacing-xl);

    @include btn-chromeless;

    > svg {
      height: 10px;
      width: 10px;
    }
  }
}
