@use "../../base/mixins" as *;
@use "sass:map";

@mixin createPseudoCircleBg {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  translate: 0 0 -1px; // to keep below other elements
  background: var(--switch-active-bg);
  border-radius: var(--disw-g-border-radius-4xl);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin createCheckedStyles(
  $bgColor: var(--switch-checked-bg),
  $borderColor: var(--switch-checked-border-color)
) {
  background-color: $bgColor;
  border-color: $borderColor;
  box-shadow: inset 0 0 0 16px $bgColor;
}

@mixin resetOutline {
  outline: none;
}

@mixin labelStyles {
  label.control-label {
    margin: 0;
    color: var(--switch-label-color);

    @include small-text;
  }
}

@mixin disabledLabelStyles {
  &:has(.widget-switch-btn-wrapper.disabled) {
    label {
      color: var(--switch-label-disabled-color);
    }
  }
}

@mixin focusStyles {
  &:focus-within {
    outline: 2px solid var(--switch-outline-color);
    outline-offset: 2px;
  }
}

$size-map: (
  "sm": 0,
  "default": 1,
  "lg": 2,
);

@mixin sizeStyles($size: "default") {
  $wrapper-base-width: 32;
  $wrapper-base-height: 16;
  $btn-base-size: 12;
  $base-left: 18;

  .widget-switch-btn-wrapper {
    width: ($wrapper-base-width + map.get($size-map, $size) * 8) + px;
    height: $wrapper-base-height + map.get($size-map, $size) * 4 + px;

    .widget-switch-btn {
      width: ($btn-base-size + map.get($size-map, $size) * 4) + px !important; // to avoid width change happening with mx styles on press
      height: ($btn-base-size + map.get($size-map, $size) * 4) + px !important;

      &.right {
        left: ($base-left + map.get($size-map, $size) * 4) + px !important; // to avoid position change happening with mx styles on press
      }
    }
  }
}
